.pokedex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .pokemon {
    width: 200px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .pokemon img {
    width: 100%;
    height: auto;
  }
  
  .pokemon h2 {
    margin: 10px;
  }
  
  .pokemon ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .pokemon li {
    margin: 5px 0;
  }