* {
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: yellow;
  padding: 0;
}


/*POKEDEX*/
h1 {
  font-family: 'magic_space';
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 100px;
}

/*LANGUAGES*/
.buttons {
  margin: 0 auto; /* Set left and right margins to auto */
  padding: 0;
  text-align: center;
  margin-bottom: 20px;
  list-style: none;
}

.buttons button {
  margin-left: 10px;
  padding: 5px 20px;
  cursor: crosshair;
}

.button1{
  font-weight: bold;
  background-color: rgb(98, 255, 255);
}
.button2{
  font-weight: bold;
  background-color: rgb(182, 223, 255);
}
.button3{
  font-weight: bold;
  background-color: rgb(143, 242, 136);
}
.button4{
  font-weight: bold;
  background-color: rgb(255, 247, 165);
}


/*WHITE ANG BORDER*/
.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-left: 20px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 22px;
  border: 3px solid rgb(231, 231, 255);
  box-shadow: 0px 2px 5px rgb(2, 4, 7);
  margin-bottom: 20px;
  background-color: rgb(0, 6, 6);
}

.card-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.card-content {
  margin-top: 10px;
}

p{
  text-align: center;
}

.pokemon-card {
  display: inline-block;
  flex-wrap: wrap;
  justify-content: center;
  width: 300px; 
}

/* ex. [1001] BULBA*/
.id-name-text{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 10px;
  font-weight: bold;
  color: white;
}

/* GRASS & POISON BUTTONS*/
.type-button {
  display: inline-block;
  margin: 5px 20px; /* Sets equal margin on both sides */
  padding: 5px 18px;
  color: black;
  font-family: 'hp';
  justify-content: center;
  font-size: larger;
  background-color:  rgb(117, 235, 235);
  border-radius: 50px;
  border: none;
}



/*STATUS AND INFO OF POKEMONS */
.stats {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: space-between;
}

.left-stats,
.right-stats {
  width: 45%; /* Adjust the width as needed */
}

.left-stats p,
.right-stats p {
  margin: 5px 0;
}

